* {
  padding: 0;
  box-sizing: border-box;
}

body{
  color:#525B78;
  background-color: #D9DBE2;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

input, textarea {
  padding: 10px;
}

.contact-form{
  padding-bottom: 50px;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;  
}

.w-100{
  width: 100%;
}

::placeholder{
  color:#525B7880;
}

.align-center{
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-self-end{
  justify-self: flex-end;
}

.space-between-columns{
  margin-right: 136px; 
}

.m-0 {
  margin: 0 !important;
}

.ml-auto{
  margin-left: auto;
}

.visible {
  visibility: visible !important;
}


