* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color:#525B78;
  background-color: #D9DBE2;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

.contact-form{
  padding-bottom: 50px;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column; 
  width: 100%;  
}

.w-100{
  width: 100%;
}

::placeholder{
  color:#525B7880;
  padding: 10px;
}

.align-center{
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.space-between-columns{
  margin-right: 136px; 
}


