.menu-icon img {
  position: fixed;
  top: 31px;
  left: 133px;
}

.siderbar-wrapper{
  position: fixed;
  top: 0;
  left: -244px;
  background-color: #525B78;
  color: #FFFFFF;
  width: 244px;
  height: 100%;
  transition: transform 2s;
  z-index: 10;
}

.menu-open {
  width: 244px;
  transform: translate(244px); 
}

.sidebar-content{
  padding:20px;
}

.sidebar-content .menu-header{
  margin-top: 20px;
  margin-bottom: 44px;
}

.sidebar-menu-items{
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-items .item{
  margin-bottom: 19px;
  height: 35px;
}
.sidebar-menu-items img{
  vertical-align: auto; 
  padding-right: 22px;
}

.siderbar-wrapper .close-button{
  position: absolute;
  top: 0;
  right: 10px;
}

.sidebar-menu-items .item.menu-depth-1{
  color: #525B78;
  background-color: #D9DBE2;
  height: 100%;
  width: calc(100% + 40px);
  margin:0;
  margin-left: -20px;
  padding: 20px;
  overflow: hidden;
}

.sidebar-menu-items .item.menu-depth-2{
  background-color: #FFFFFF;
  color: #525B78;
  height: 100%;
  width: calc(100% + 40px);
  margin:0;
  margin-left: -20px;
  padding: 20px;
  overflow: hidden;
}

.open-close-icon{
  transition: transform 2s;
}

.translation{
  transform: rotate(90deg);
}